@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.glassmorphic{
  /*the alpha value controls the transparency*/
  background: rgba( 255, 255, 255, 0.3 );

  /* This controls the blurring effect*/
  backdrop-filter: blur( 7.5px );
  -webkit-backdrop-filter: blur( 7.5px );

  /*Adding the shadow*/
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );
}
